:root {
  --font-size-body: 14px;
  --font-size-body-larger: 16px;
  --font-size-body-big: 18px;
  --font-size-body-huge: 20px;

  --mq-size-lv1: 600px;
  --mq-size-lv2: 1024px;
  --mq-size-lv3: 1600px;
}
